root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = false
trim_trailing_whitespace = true

[Dockerfile, *.{ts,tsx,js,css,sql}]
indent_style = tab

[*.md]
trim_trailing_whitespace = false

[*.{json,yml,yaml,lock}]
indent_style = space
indent_size = 2